body{
  background-color: #577399;
  color: #495867;
  padding: 10%;
  font-weight: bold;
}

h1{
  color: #F7F7FF;
  padding-top: 20%;
  margin-top: 20%;
  vertical-align: center;
}

h3{
  color: #F7F7FF;
}

#main-navbar{
  position: relative;
  float: left;
  width: 100%;
  height: 15%;
  background-color: #FE5F55;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 25px;
}

#navbar-container{
  position: relative;
  border-radius: 25px;
  float: left;
  width: 100%;
  left: 50%;
  align: center;
}

#main-navbar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#main-navbar ul li{
  display: block;
  float: left;
  align-content: center;
  padding: 5%;
}

#main-navbar ul li a{
  display: block;
  padding: 0;
  color: #F7F7FF;
  text-decoration: none;
  align-content: center;

}

#main-navbar ul li a:hover{
  border-color: #495867;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  background-color: #F7F7FF;
  color: #FE5F55;
  font-weight: bold;
}

img{
  border-radius: 10px;
}

.textbox{
  background-color: #BDD5EA;
  border-color: #FE5F55;
  border-radius: 25px;
  border-width: medium;
  border-style: solid;
  padding: 5%;
  width: 80%;
  height: auto;
}

.caption{
  color: #F7F7FF;
  background-color:#495867;
  border-color: #BDD5EA;
  border-radius: 25px;
  border-width: medium;
  border-style: solid;
  padding: 5%;
  font-weight: normal;
}

.artimg{
  width: 80%;
  align: center;
}
